<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dragger.dialogapp">

    <permission android:name="android.permission.READ_FRAME_BUFFER" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".view.testActivity.ViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".rx.myLifeRecycler.LifeRecyclerActivity" />
        <activity
            android:name=".view.testActivity.poxy.FragmentProxyActivity"
            android:theme="@style/dialog"
            android:launchMode="singleInstance" />
        <activity android:name=".view.testActivity.RadioGroupActivity" />
        <!--<activity android:name=".testActivity.ConstraintLayoutTest" />-->
        <!--<activity android:name=".SnapHelperActivity" />-->
        <!--<activity android:name=".constraintLayoutTest.ConstraintLayoutActivity" />-->
        <!--<activity android:name=".UnderLineActivity" />-->

<!--        <service android:name=".service.XiriCommandService">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.iflytek.xiri2.app.NOTIFY" />-->
<!--                <action android:name="com.iflytek.xiri2.app.FILTER" />-->
<!--                <action android:name="tv.yuyin.self" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <service android:name=".service.TestService" />
    </application>


</manifest>